/*
Light Purple: #7477bf
Dark Purple: #4d4c72

 */

/* Global Layout Set-up */
* {
  box-sizing: border-box;

  outline: 1px red solid;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;


}
img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header,
.main-body,
.nav-icons,
.user-area,
.dashboard-tab,
.alertbox {
  display: flex;
}
/* HEADER */

header{
  justify-content: space-between;
  background-color: #7477bf;
  color: white;
  height: 75px;
}
h1 span{
  font-size: .5em;
  vertical-align: super;
}
h1{
  font-weight: 200;
  margin: 0 .5em;
  line-height: 65px;

}
.user-area{
  justify-content: space-around;
  width:150px;
  padding: 1em;
}
.user-area svg{
  display: block;
  margin: 5px;
  height: 35px;
  width: 35px;
}
.user-area div{
  border-right: 1px solid #313131;
  margin: 0 1em;
}

.account-name{
  display: none;
  font-weight: 200;
}

/* NAVIGATION */
.main-body{
  flex-direction: column;
}
.main-nav {
  background-color: #4d4c72;
  color: white;
}
.nav-icons{
  flex-direction: row;
  justify-content: space-around;

}
.nav-icons li{
  margin: .5em;

}
.nav-icons svg{
  display: block;
  height: 35px;
  width: 35px;
}
.nav-icons a{
  display: block;
  padding: .5em;
  width: 100%;
}
/* DASHBOARD TAB/SEARCH */
.dashboard-tab{
  flex-direction: column;
  align-items: stretch;
}
.dashboard-tab h2{
  margin-left: .5em;
  font-weight: normal;
}
.searchbar{
  display: block;
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  border-top:1px solid lightgrey;
}
.searchbox{
  display: inline-block;
  margin: .75em 1.5em .75em 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 75%;
  min-width: 315px;
}
.searchbox button{
  display: inline-block;
  vertical-align: text-bottom;
  background-color: white;
  border: none;
  padding: 8px;
}
.searchbox svg{
  display: block;
}
.searchbox input{
  vertical-align: bottom;
  height: 36px;
  border: none;
  margin: .125em;
  width: 85%;
  min-width: 250px;
}
.searchbox input:focus,
.searchbox button:focus{
  outline: none;
}
.search-icon{
  fill: #4d4c72;

}
/* ALERT MESSAGE */
.alertbox{
  justify-content: space-between;
  margin: 1em;
  background-color: #7477bf;
  border-radius: 5px;
}
.alert{
  display: inline-block;
  color: white;
  margin: 1em;
}
.alert-close{
  background-color: transparent;
  color: white;
  border: none;
  padding: 0 1em;
  outline: none;

}

@media (min-width: 769px) {
  /* HEADER */
  .user-area{
    width: 275px;
  }
  .account-name{
    display: block;
    padding:.5em;;
  }
  /* NAVIGATION */
  .nav-icons{
    max-width: 75%;
    margin: 0 auto;
  }
  /* DASHBOARD TAB/SEARCH */
  .dashboard-tab{
    flex-direction: row;
    align-items: stretch;
  }
  .searchbar{
    text-align: right;
    border-left: 1px solid lightgrey;
    border-top:none;
  }
  .searchbox,
  .searchbox input{
    width: initial;
  }
  .dashboard-tab h2{
    margin: 0 1em;
    line-height: 64px;
  }
}

@media (min-width: 1025px) {
  /* HEADER */


  /* NAVIGATION */
  .main-body{
    flex-direction: row;
  }
  .main-nav{
    width: 85px;
  }
  .nav-icons{
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }
  .nav-icons li{
    margin: 1em 0;
  }

  .nav-icons svg{
    margin: 0 auto;
  }

  .nav-icons a:hover{
    border-left: 5px lime solid;
  }


  .main-content{
    width: 100%;
  }
}
