/*
Light Purple: #7477bf
Dark Purple: #4d4c72

 */

/* Global Layout Set-up */
* {
  box-sizing: border-box;
  color: #2E2E2E;
  /* outline: 1px red solid; */
}
*:focus{
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;


}
img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header,
.main-body,
.nav-icons,
.user-area,
.dashboard-tab,
.alertbox,
.traffic-settings,
.social-box-container,
.daily-mobile-container,
.member,
.member-info-container,
.member-area-container,
.contact-settings-container,
.message-user,
.settings,
.settings-buttons,
.setting-selection {
  display: flex;
}
.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings{
  padding: 1em;
}
/* GENERAL TYPOGRAPHY ----------------------------------------------*/
.widget-title{
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  margin:0;
  padding: .5em 0;
  color: #2E2E2E;
}
/* HEADER---------------------------------------------------------- */

header{
  justify-content: space-between;
  background-color: #7477bf;
  height: 75px;
}
header *{
  color: white;
}
h1 span{
  font-size: .5em;
  vertical-align: super;

}
h1{
  font-weight: 200;
  margin: 0 .5em;
  line-height: 65px;


}
.user-area{
  justify-content: space-around;
  width:150px;
  padding: 1em;
}
.user-area svg{
  display: block;
  margin: 5px;
  height: 35px;
  width: 35px;
}
.user-area div{
  border-right: 1px solid #313131;
  margin: 0 1em;
}

.account-name{
  display: none;
  font-weight: 200;
}
.notification-dot{
  border: 3px solid lime;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: lime;
  margin-left: -15px;
}

/* NAVIGATION-------------------------------------------------------------- */
.main-body{
  flex-direction: column;
}
.main-nav {
  background-color: #4d4c72;
  color: white;
}
.nav-icons{
  flex-direction: row;
  justify-content: space-around;

}
.nav-icons li{
  margin: .5em;

}
.nav-icons svg{
  display: block;
  height: 35px;
  width: 35px;
}
.nav-icons a{
  display: block;
  padding: .5em;
  width: 100%;
}
/* DASHBOARD TAB/SEARCH---------------------------------------------------- */
.dashboard-tab{
  flex-direction: column;
  align-items: stretch;
}
.dashboard-tab h2{
  margin-left: 1em;
  font-weight: normal;
  color: #2E2E2E;
}
.searchbar{
  display: block;
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  border-top:1px solid lightgrey;
}
.searchbox{
  display: inline-block;
  margin: .75em 1.5em .75em 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 75%;
  min-width: 315px;
}
.searchbox button{
  display: inline-block;
  vertical-align: text-bottom;
  background-color: white;
  border: none;
  padding: 8px;
}
.searchbox svg{
  display: block;
}
.searchbox input{
  vertical-align: bottom;
  height: 36px;
  border: none;
  margin: .125em;
  width: 85%;
  min-width: 250px;
}
.searchbox input:focus,
.searchbox button:focus{
  outline: none;
}
.search-icon{
  fill: #4d4c72;

}
/* ALERT MESSAGE--------------------------------------------------------- */
.alertbox{
  justify-content: space-between;
  margin: 1em;
  background-color: #7477bf;
  border-radius: 5px;
}
.alertbox *{
  color: white;
}
.alert{
  display: inline-block;
  margin: 1em;
}
.alert-close{
  background-color: transparent;
  border: none;
  padding: 0 1em;
  outline: none;

}

/* CHARTS---------------------------------------------------------------- */
.traffic,
.daily-mobile-container{
  border-bottom: 1px lightgrey solid;
}
.line-chart-scope,
.line-chart-scope li,
.traffic-settings h3{
  display: inline-block;
}
.mobile-users{
  border-top: 1px lightgrey solid;
}


.traffic-settings,
.daily-mobile-container{
  flex-direction: column;
  justify-content: space-between;
}
.line-chart-scope{
  text-align: center;
}
.line-chart-scope li{
  padding: .5em 1em;
  margin: .4em;
  border-radius: 32%/50%;
  font-size: .8em;
  font-weight: bold;
  color: #2E2E2E;
  cursor: pointer;
}

/* SOCIAL STATS --------------------------------------------------------*/
.social-box-container{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 auto;
}
.social-box{
  background-color: #fbfbfb;
  border: 1px lightgrey solid;
  border-radius: 5px;
  padding:1em;
  margin: .75em;
  flex-grow: 1;
  text-align: center;
}
.social-logo{
  display: inline-block;
  background-color: #7477bf;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.social-logo svg{
  width: 38px;
  height: 38px;
  margin: 11px;
  fill: white;
}
.social-name-numbers{
  display: inline-block;
  width: 115px;
}
.social-name-numbers td{
  color: #2E2E2E;
  font-size: 2.5em;
  font-weight: 200;
  line-height: 35px;
}
.social-name-numbers th{
  color:#7477bf;
  font-size: 1em;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
}
/* MEMBER AREA------------------------------------------------------------ */
.member-area-container{
  flex-direction: column;
  border-top:1px lightgrey solid;
  border-bottom: 1px lightgrey solid;
}
.member-info-container{
  justify-content: space-between;
  width: 100%;
  margin-left: .75em;
}

.member td,
.member a{
  font-size: .75rem;
  text-decoration: none;
  color: #7477bf;
}
.member-name{
  font-size: .8rem;
  font-weight: normal;
  color:#2E2E2E;
}
.member{
  padding:1em 0;
  border-bottom: 1px lightgrey solid;
}
.member:last-of-type{
  border-bottom: none;
}
.more-arrow svg{
  display: block;
  height:20px;
  stroke: #7477bf;
  margin: 11.5px 0;
}
.member-join-date{
  line-height: 43px;
}

.recent-activity{
  border-top: 1px lightgrey solid;
}

/* MESSAGE USER AREA------------------------------------------------------ */
.contact-settings-container{
  flex-direction: column;
}
.message-user,
.settings{
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.settings{
  border-top: 1px lightgrey solid;
}

#usersearch,
#usermessage,
#timezone,
.message-user button{
  width: 100%;
  padding: .5em;
  margin: .5em 0;
}
#usersearch,
#usermessage,
#timezone{
  border: 1px lightgrey solid;
  border-radius: 5px;
  background-color: #fbfbfb;
}
#timezone:required:invalid {
  color: gray;
}
#timezone option[value=""][disabled] {
  display: none;
}
#timezone option {
  color: black;
}
#usermessage{
  height:150px;
}
.message-user button,
#savebutton,
#cancelbutton{
  border:none;
  border-radius: 5px;
  background-color: #7477bf;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.settings-buttons{
  flex-direction: row;
  justify-content: space-between;
}
#savebutton,
#cancelbutton{
  width: 45%;
  padding: .5em;
  margin: .5em 0;
}
#cancelbutton{
  background-color: silver;
}
.toggle-switch{
  width: 100px;
  padding: .4em 0;
}

.setting-selection{
  margin: .5em 0;
}
.setting-selection p{
  line-height: 28.8px;
  margin: 0;
  padding: .5em 0 ;
  width: 230px;
}





@media (min-width: 768px) {
  /* HEADER----------------------------------------------------------------- */
  .user-area{
    width: 275px;
  }
  .account-name{
    display: block;
    padding:.5em;;
  }
  /* NAVIGATION */
  .nav-icons{
    max-width: 75%;
    margin: 0 auto;
  }
  /* DASHBOARD TAB/SEARCH--------------------------------------------------- */
  .dashboard-tab{
    flex-direction: row;
    align-items: stretch;
  }
  .searchbar{
    text-align: right;
    border-left: 1px solid lightgrey;
    border-top:none;
  }
  .searchbox,
  .searchbox input{
    width: initial;
  }
  .dashboard-tab h2{
    margin: 0 1em;
    line-height: 64px;
  }
  /* CHARTS----------------------------------------------------------------- */
  .traffic-settings{
    flex-direction: row;
  }
  .daily-mobile-container{
    flex-direction: row;
  }
  .daily-traffic,
  .mobile-users{
    flex-grow: 1;
    width: 50%;
  }
  .mobile-users{
    border-left: 1px solid lightgrey;
    border-top: none;
  }


  /* MEMBER AREA -----------------------------------------------------------*/
  .member-area-container{
    flex-direction: row;
  }
  .new-members,
  .recent-activity{
    flex-grow: 1;
    width: 50%;
  }
  .recent-activity{
    border-left: 1px lightgrey solid;
    border-top: none;
  }

  /* MESSAGE USER & SETTINGS AREA----------------------------------------- */
  .contact-settings-container{
    flex-direction: row;
  }

  .message-user,
  .settings{
    flex-grow: 1;
    width: 50%;
  }
  .settings{
    border-left: 1px lightgrey solid;
    border-top: none;
  }

}

@media (min-width: 1025px) {
  /* HEADER */


  /* NAVIGATION */
  .main-body{
    flex-direction: row;
  }
  .main-nav{
    width: 85px;
  }
  .nav-icons{
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }
  .nav-icons li{
    margin: 1em 0;
  }

  .nav-icons svg{
    margin: 0 auto;
  }

  .nav-icons a:hover{
    border-left: 5px lime solid;
  }


  .main-content{
    width: 100%;
  }
}
